/* Regole generali  */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Container rules */

.container {
  background-color: #b91450;
  text-align: center;
  min-height: 100vh;
}

.container h1 {
  color:white;
  padding-top:30px;
}

/* categoria dati */


/* Form inserimento dati */
form {
  display:flex;
  justify-content:space-around;
  width: 80%;
  flex-wrap:wrap;
  padding-top: 20px;
  margin:auto;
}

form > * {
  width:20%;
  margin: 5px 5%;
  border-color:#b91450;
  border-radius: 5px;
  text-align: center;
}

form > label {
  color:#b91450;
}

/* input rules */

#quantity {
  text-align: center;
}

/* bottoni */

.bottoni {
  text-align: center;
  margin:30px;
}

.bottoni > * {
  margin:0 10px;
  width: 80px;
  height: 30px;
  background-color: lightgrey;
  border-color:#b91450;
  color:#b91450;
  border-radius: 5px;
  font-weight: bolder;
}

/* box dati  */

.box_dati {
  width: 80%;
  margin:30px auto;
  background-color: white;
  border-radius: 20px;
  min-height: 200px;
  border:1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #262222;
}

/* struttura box biglietto */

.struttura_box_biglietto {
  width: 100%;
  min-height: 150px;
  display: flex;
}

/* box biglietto  */

.box_biglietto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 10px;
  width: 80%;
  margin:30px auto;
  background-color: white;
  min-height: 200px;
  border:1px solid;
  box-shadow: 5px 10px 18px #262222
}

.nome_passeggero {
  width: 20%;
  background-color: grey;
  text-align: left;
  padding: 10px;
}

.dettagli_biglietto {
  display: flex;
  width: 80%;
  background-color: white;
  border-top:1px solid grey;
  border-bottom:1px solid grey;
}

/* dettagli biglietto */

.box_dettagli_biglietto {
  width: 25%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
}
